<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Lookup</title>
</head>
<body>
  <h1>Stock Lookup $$$$</h1>

  <%= yield %>

<hr>
&copy; Robber Baron Productions 2019
</body>
</html>
