
<h2>Here's yer lolz mate!</h2>

<!-- Hotlinking! Naughty! -->
<!-- <img src="https://rosslandtelegraph.com/sites/default/files/news_images/therosslandtelegraph/sep/smoking-dog-2.jpg" alt=""> -->

<!-- <img src="/assets/smoking-dog.jpg" alt="smoking dog"> -->

<%= image_tag 'smoking-dog.jpg', alt: 'Classy Dog', class: 'lol' %>
