<h2>Movie Search</h2>

<form action="/movies/search">

  <label>
    Search text: <input type="text" name="query">
  </label>
  <!-- /movies/search?query=alien -->
  <!-- params[:query] -->

  <input type="submit" value="Search">

</form>
