<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals SQL Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Animals of the World: A Visual Guide</h1>
   <nav>
     <a href="/animals">Index</a>
     |
     <a href="/animals/new">Add Animal</a>
   </nav>
  <hr>

    <%= yield %><!-- specific template content goes here -->

  <hr>
  <footer>
    &copy; Round Boys Productions 2019
  </footer>
</body>
</html>
