<h2>Add New Animal</h2>

<form action="/animals" method="post">
  First Name: <input type="text" name="first_name"><br>
  Last Name: <input type="text" name="last_name"><br>
  Species: <input type="text" name="species"><br>
  Description: <input type="text" name="description"><br>
  Roundness: <input type="text" name="roundness"><br>
  Alive: <input type="text" name="alive"><br>
  Age: <input type="text" name="age"><br>
  Image URL: <input type="text" name="image_url"><br>
  <br>
  <input type="submit" value="Create Animal">
</form>
