<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animals of the World: A Visual Guide</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Animals of the World: A Visual Guide</h1>
    <nav>
     <a href="/animals/new">Add Animal</a> |
     <a href="/animals">Index</a>
    </nav>
    <hr>
      <%= yield %>  <!-- add the specific template output here, i.e. from index.erb or similar -->
    <hr>
    &copy; Round Boys Productions 2018
</body>
</html>
