<h2>Add New Spotter</h2>

<form action="/spotters" method="post">
  Name: <input type="text" name="name"><br>
  Location: <input type="text" name="location"><br>
  Animal ID: <input type="text" name="animal_id"><br>
  <br>
  <input type="submit" value="Create Spotter">
</form>
