  <form action="/calc/results">

    <label>
      First number:
      <input type="text" name="x">
    </label>

    <label>
      Operator:
      <input type="text" name="operator">
    </label>

    <label>
      Second number:
      <input type="text" name="y">
    </label>

    <input type="submit" value="Calculate!">

  </form>
