<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
</head>
<body>
  <h1>Let's Calculate Something</h1>

  <!-- inserts the actual template code we asked for right here -->
  <%= yield %>

  <img src="http://placebear.com/300/300" alt="bear">
  <hr>
  <footer>
    &copy; Textchimp Productions 2019
  </footer>
</body>
</html>
